 .banner {
    background-image:url("../../../assets/back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  .banner .container {
    padding-top: 15%;
  }
  